version: 1.0
rabbit:
  connection:
    host: server03.next2know.nl
    port: 5672
    username: ruben
    password: ruben
    vhost: pleio
  queue: file_queue
elasticsearch:
  host: localhost
  port: 9300
  cluster: elasticsearch # default is elasticsearch
  index: pleio
pollinginterval: 10 # in seconds
log: log4j2.xml