version: 1.0
rabbit:
  connection:
    host: server03.next2know.nl
    port: 5672
    username: ruben
    password: ruben
  vhost: pleio
  queue: file_queue
elasticsearch:
  host: localhost
  port: 9200
  index: pleio-dev-ruben
#mappings:
#  fulltext: fulltext
#  metadata: metadata
#  filename: filename